kind: Deployment
apiVersion: apps/v1
metadata:
  namespace: default
  name: alkemio-virtual-contributor-ingest-space-deployment
  labels:
    app: alkemio-virtual-contributor-ingest-space

spec:
  replicas: 1
  selector:
    matchLabels:
      app: alkemio-virtual-contributor-ingest-space
  template:
    metadata:
      labels:
        app: alkemio-virtual-contributor-ingest-space
    spec:
      containers:
        - name: alkemio-virtual-contributor-ingest-space
          image: rg.nl-ams.scw.cloud/alkemio/alkemio-virtual-contributor-ingest-space:latest
          env:
            - name: RABBITMQ_HOST
              valueFrom:
                secretKeyRef:
                  name: alkemio-rabbitmq-cluster-default-user
                  key: host
            - name: RABBITMQ_PORT
              valueFrom:
                secretKeyRef:
                  name: alkemio-rabbitmq-cluster-default-user
                  key: port
            - name: RABBITMQ_USER
              valueFrom:
                secretKeyRef:
                  name: alkemio-rabbitmq-cluster-default-user
                  key: username
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: alkemio-rabbitmq-cluster-default-user
                  key: password
          envFrom:
            - secretRef:
                name: alkemio-secrets
            - configMapRef:
                name: alkemio-config
